.hub-details {
  padding: 20px;
  height: 100%;

  .title {
    padding: 0 0 8px 0;
    font-size: 24px;
  }

  .content {
    height: calc(100% - 46px);
    padding: 8px 8px 0 8px;
    background: #d8d8d8;
    overflow: scroll;
  }
}