.folder-details {
  padding: 20px;
  height: 100%;

  .title {
    padding: 0 0 8px 0;
    font-size: 24px;
  }

  .content {
    height: calc(100% - 46px);
    padding: 8px 8px 0 8px;
    background: #d8d8d8;
    overflow: scroll;
    
    .folder {
      border: 1px solid #b5b5b5;
      background: whitesmoke;
      margin: 0 0 8px 0;
      
      a {
        color: #337ab7;
        display: block;
        padding: 16px;
        
        &:hover{
          text-decoration: none;
          background: #bfdefa;
          color: #337ab7;
        }
      }
    }

    .item {
      border: 1px solid #b5b5b5;
      background: whitesmoke;
      margin: 0 0 8px 0;
      
      a {
        color: #337ab7;
        display: block;
        padding: 16px;
        
        &:hover{
          text-decoration: none;
          background: #bfdefa;
          color: #337ab7;
        }
      }
    }
  }
}